@import "variables";
.main-page {
  background-color: #fffce3;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-family: $fontGuerrilla;
}

.header {
  height: 90vh;
  background-image: url("../assets/dannie-jing-3GZlhROZIQg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-title {
  display: flex;
  justify-content: center;
  color: azure;
  letter-spacing: 0.1em;
  position: relative;
  animation: slideToCenter 4s forwards;
}

@keyframes slideToCenter {
  from {
    top: 0;
  }
  to {
    top: 50vh;
    transform: translateY(-50%);
    font-size: 3em;
  }
}

// -------------------------
.current-events {
  height: 90vh;
}

.footer {
  height: 30vh;
  font-size: 1em;
  font-family: serif;
  background-color: #ffecc8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2em;
}
